* {
    font-family: 'Roboto';
    /* outline: 2px solid red; */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F3E9DC;
    padding: 5%;
}

.nav-toggle{
    border: 0;
    width: 70px;
    background-color: transparent;
}

#hero{
    display: flex;
    flex-direction: row;
    background: #613d2a;
}